body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/img/taller_santosCustom.png");
}

.d-block {
  width: 500px;
  height: 600px;
}

.div-buttons{
  width: 70%;
}

.custom-col{
  padding: 10px 0;
}

.custom-label{
  font-weight: bold;
  color: black;
}

.Forms{
  margin-left: 10px;
}

.custom-banner{
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3% !important;
  overflow: hidden;
}

.custom-carousel{
  height: 500px;
}